body{
    background: skyblue;
}
.clock, .date{
    font-size: 2em;
    text-align: center;
    margin: 200px auto;
    color: darkblue;
    font-family: arial;
}
.clock span, .date span{
    padding: 10px;
    background: white;
}